

img {
    width: 400px;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
    
}

h1{
    color: rgb(223, 46, 22);
}

#thirdDiv{
    width: 500px;
    height: 600px;
    background-color:darkred;
    padding: 50px;
    border: 5px solid cornflowerblue;
    
}




